.password-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: -1.5rem;

  input {
    border: 2px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .icon {
    align-self: flex-end;
    transform: translateY(-35px) translateX(-10px);
    cursor: pointer;
  }

  .warning {
    transform: translateY(-25px);
    color: red;
    display: none;
  }

  input:invalid[focused='true'] ~ .warning {
    display: block;
  }
}
